//! **************************************************************************
// Written by: Map P.20131013 on Fri Sep 23 15:30:15 2016
//! **************************************************************************

SCHEMATIC START;
COMP "xor_" LOCATE = SITE "P7" LEVEL 1;
COMP "nor_" LOCATE = SITE "N4" LEVEL 1;
COMP "xnor_" LOCATE = SITE "P6" LEVEL 1;
COMP "nand_" LOCATE = SITE "P4" LEVEL 1;
COMP "or_" LOCATE = SITE "N5" LEVEL 1;
COMP "and_" LOCATE = SITE "G1" LEVEL 1;
COMP "a" LOCATE = SITE "N3" LEVEL 1;
COMP "b" LOCATE = SITE "E2" LEVEL 1;
SCHEMATIC END;

